@model SARAPROJECT.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contracenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contracenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SisUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SisUsuario)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSucursalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSucursalNavigation.IdSucursal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
