@model IEnumerable<SARAPROJECT.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SisUsuario)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation.NombreRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSucursalNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contracenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SisUsuario)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
