@model IEnumerable<SARAPROJECT.Models.Usuario>

@{
    ViewData["Title"] = "Usuario";
}


<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                        <button class="au-btn au-btn-icon au-btn--green">
                            <i class="zmdi zmdi-plus"></i><a asp-action="Create" >Añadir</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
          <h2 class="title-1 m-b-25">Lista de Productos</h2>
          <div class="table-responsive table--no-card m-b-40">
              <table class="table table-borderless table-striped ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CedulaUsuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreUsuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmailUsuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sexo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contracenia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SisUsuario)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IdRolNavigation.NombreRol)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdSucursalNavigation.Nombre)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CedulaUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contracenia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SisUsuario)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.Nombre)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
                            </td>
                        </tr>
                }
                    </tbody>
              </table>
          </div>
      </div>
    </div>
</div>