@model SARAPROJECT.Models.Ventum

@{
    ViewData["Title"] = "Anular";
    Decimal Total = 0;
}

<div>
    <div>
        <h4>Venta</h4>
        <hr />
        <br />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdMesa)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdMesa)
            </dd>
            <!-- 
            <dt class = "col-sm-2">
                IdMetodo)
            </dt>
            <dd class = "col-sm-10">
                model.IdMetodo)
            </dd>
            <dt class = "col-sm-2">
                Nombre)
            </dt>
            <dd class = "col-sm-10">
                Nombre)
            </dd>-->
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CodVenta)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CodVenta)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NroFactura)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NroFactura)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ClaveAcceso)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ClaveAcceso)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NroPedido)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NroPedido)
            </dd>
            <!-- 
            <dt class = "col-sm-2">
                IdEstadoNavigation
            </dt>
            <dd class = "col-sm-10">
               IdEstadoNavigation.IdEstado
            </dd>-->
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdEstventaNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdEstventaNavigation.NombreEstadov)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdUsuarioNavigation.SisUsuario)
            </dd>
        </dl>
    </div>

    <table>
        <thead>
            <tr>
                <th colspan="2">
                    Cant
                </th>
                <th colspan="3">
                    Descripción
                </th>
                <td colspan="2">

                </td>
                <th>
                    P.U
                </th>
                <td></td>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetalleVenta) {
                    <tr>
                        @{
                            var precio = item.Precio;
                            var cantidad = item.Cantidad;
                            var totalU = precio * cantidad;
                        }
               <td >@cantidad</td> 
               <td></td>
               <td>@Html.DisplayFor(itemModel =>item.IdProductoNavigation.NombreProducto)</td>
               <td></td>
               <td></td>
                <td></td>
               <td>@precio</td>
               <td colspan="2"></td>
               <td>@totalU</td>
            </tr>
    }
        </tbody>
    </table>
    <p>Subtotal:@Html.DisplayFor(model=>model.Total)</p>
    <p>Subtotal 0%:@Html.DisplayFor(model=>model.Total)</p>
    <p>Total:@Html.DisplayFor(model=>model.Total)</p>
    <table>
        <thead>
            <tr>
                <th>
                    Metodo de pago
                </th>
                <th>
                    Monto
                </th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var item in Model.DetPagos) 
            {
                Total += item.Monto; 
             <tr>
               <td>@Html.DisplayFor(itemModel =>item.IdMetodoNavigation.Nombre)</td>
               <td>@Html.DisplayFor(itemModel =>item.Monto)</td>
             </tr>
            }
            <tr>
                @{
                    var cambio= Total - Model.Total;
                    if (cambio < 0)
                    {
                        cambio = 0; 
                    }
                }
               <td> Cambio: @cambio</td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenta" />
        <input type="submit" value="Anular" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
