@model SARAPROJECT.Models.Ventum

@{
    ViewData["Title"] = "Preticket";
    Decimal Total = 0;
}


<style>
    .printContet p, table, table tbody{
    font-size:9px;
    }
    .printContent div{
        margin: 100px auto 100px;
    }
</style>
<div class="printContent" id="printContent">
<div>
  <img src="~/images/logo.jpg" alt="Logo de la empresa" width="70" />  
</div>

<p>========= Preticket ===========</p>
<p>NOMBRE DE LA CAFETERIA </p>
<p>RUC</p>
<p>DIRECCION</p>
<p>SUCURSAL</p>
<p>TELEFONO</p>
<p>CORREO</p>
<p>======== Venta Rapida==========</p>
<p>Pedido Nro: @Html.DisplayFor(model => model.NroPedido)</p>
<p>Fecha: @Html.DisplayFor(model => model.FechaVenta)</p>
<p>Atendido por:@Html.DisplayFor(model => model.IdUsuario)</p>
<p>======= Datos del cliente ======</p>
<p>Nombre:...................</p>
<p>Identificacion:...........</p>
<p>Correo:...................</p>
<p>Telefono:.................</p>
<p>Dirección:................</p>
<br>

<h1>Detalles</h1>
<table>
    <thead>
        <tr>
            <th colspan="2">
                Cant
            </th>
            <th colspan="3">
                Descripción
            </th>
            <td colspan="2">

            </td>
            <th>
                P.U
            </th>
            <td></td>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetalleVenta) {
                <tr>
                    @{
                        var precio = item.Precio;
                        var cantidad = item.Cantidad;
                        var totalU = precio * cantidad;
                    }
           <td >@cantidad</td> 
           <td></td>
           <td>@Html.DisplayFor(itemModel =>item.IdProductoNavigation.NombreProducto)</td>
           <td></td>
           <td></td>
            <td></td>
           <td>@precio</td>
           <td colspan="2"></td>
           <td>@totalU</td>
        </tr>
}
    </tbody>
</table>
<p>Subtotal:@Html.DisplayFor(model=>model.Total)</p>
<p>Subtotal 0%:@Html.DisplayFor(model=>model.Total)</p>
<p>Total:@Html.DisplayFor(model=>model.Total)</p>
<table>
    <thead>
        <tr>
            <th>
                Metodo de pago
            </th>
            <th>
                Monto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetPagos) 
        {
            Total += item.Monto; 
         <tr>
           <td>@Html.DisplayFor(itemModel =>item.IdMetodoNavigation.Nombre)</td>
           <td>@Html.DisplayFor(itemModel =>item.Monto)</td>
         </tr>
        }
        <tr>
            @{
                var cambio= Total - Model.Total;
                if (cambio < 0)
                {
                    cambio = 0; 
                }
            }
           <td> Cambio: @cambio</td>
        </tr>
    </tbody>
</table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    window.onload = function () {
        var printContent = document.getElementById("printContent").innerHTML;
        var bodyContent = document.body.innerHTML;
        document.body.innerHTML= printContent;
        window.print();
        };

</script>